{% extends 'index.html' %}
{% load static %}
{% block site_content %}


    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
    </div>
       <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>Wishlist</h3>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>Wishlist</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->


    <!--wishlist area start -->
    <div class="wishlist_area mt-100">
        <div class="container">
            <form action="#">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc wishlist">
                            <div class="cart_page table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product_remove">Delete</th>
                                            <th class="product_thumb">Image</th>
                                            <th class="product_name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product_quantity">Stock Status</th>
                                            <th class="product_total">Add To Cart</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in wish %}
                                            {% with product=item.product %}
                                                <tr>
                                                    <td class="product_remove"><a href="#">X</a></td>
                                                    <td class="product_thumb"><a href="{{ product.get_absolute_url }}"><img
                                                                src={{ product.image.url }} alt=""></a></td>
                                                    <td class="product_name"><a href="#">{{ product.name }}</a></td>
                                                    <td class="product-price">{{ product.price }}</td>
                                                    <td class="product_quantity">In Stock</td>
                                                    <td class="product_total"><a href="#">Add To Cart</a></td>


                                                </tr>
                                            {% endwith %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <!--wishlist area end -->




{% endblock %}