
{% extends 'index.html' %}
{% load static %}

{% block site_content %}

    {% include 'slider.html' %}


    <!--lukani store title start-->
    <div class="lukani_store_title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title lstore_title">
                        <h2>Наш магазин!!!</h2>
                        <p>Астрономи зробили революційне відкриття, простеживши походження води з часів, що передували утворенню нашого Сонця.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--lukani store titlev end-->

    <!--shipping area start-->
    <div class="shipping_area shipping_two">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img src={% static "assets/img/about/shipping1.png" %} alt="">
                        </div>
                        <div class="shipping_content">
                            <h3>Безкоштовна доставка</h3>
                            <p>Безкоштовна доставка по всьому світу для всіх замовлення понад 120 доларів США </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping col_2">
                        <div class="shipping_icone">
                            <img src={% static "assets/img/about/shipping2.png" %} alt="">
                        </div>
                        <div class="shipping_content">
                            <h3>Безпечна оплата</h3>
                            <p>З нашим платіжним шлюзом не турбуйтеся про свою інформацію</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping col_3">
                        <div class="shipping_icone">
                            <img src={% static "assets/img/about/shipping3.png" %} alt="">
                        </div>
                        <div class="shipping_content">
                            <h3>Дружні послуги</h3>
                            <p>Ви маєте 30-денну гарантію повернення кожного замовлення</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--shipping area end-->

    {% include 'products.html' %}

    <!--testimonial area start-->
    <div class="testimonial_area testimonial_two">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>Що говорять наші клієнти?</h2>
                    </div>
                </div>
            </div>
            <div class="testimonial_container">
                <div class="row">
                    <div class="testimonial_carousel owl-carousel">
                        {% for customer_saya in customers_saya %}
                            <div class="col-12">
                            <div class="single-testimonial">
                                <div class="testimonial-icon-img">
                                    <img src={% static "assets/img/about/testimonials-icon.png" %} alt="">
                                </div>
                                <div class="testimonial_content">
                                    <p>“ {{ customer_saya.description }} ”</p>
                                    <div class="testimonial_text_img">
                                        <a href="#"><img src={{ customer_saya.image.url }} alt=""></a>
                                    </div>
                                    <div class="testimonial_author">
                                        <p>{{ customer_saya.name }} / <span>{{ customer_saya.professional }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--testimonial area end-->



{% endblock %}